:root{
    --maincolor: #00c2ff;
    --backgroundcolor: linear-gradient(0deg, #0043a8 0%, #00114b 100%);
    --overlaycolor: linear-gradient(270deg, #000000 0%, #d9d9d9 50.52%, #000000 100%);
    --lightheaderitemhovercolor: #050728;
    --hover: #ff9900;
    --pricecolor: #4d4444;
    --backgroundblur: #4282ff;
    --banner-height: 65%;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

input,
select,
textarea {
    background-color: transparent;
    outline: none;
}

button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
}
html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    font-family: 'FS PF BeauSans Pro';
}
.container{
    width: 100%;
    background: linear-gradient(90deg, #0043A8 0%, #00114B 100%);
    position: relative;
}
.header{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    padding: 12px 75px;
    border-bottom:1px solid gray; 
    background: linear-gradient(90deg, #0043A8 0%, #00114B 100%);
    z-index: 999;
    transition: .25 linear;
}
.flex{
    display: flex;
    gap: 30px;
    align-items: center;
}
.header__inner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__item{
    text-decoration: none;
    list-style-type: none;
    transition: .25s ease;
    color: white;
}
.nav__link{
    color: white;
    text-decoration: none;
    transition: .25s ease;
}
.logo{
    font-weight: 800;
    font-size: 32px;
    color: white;
    text-decoration: none;
    gap: 10px;
}
.header-nav > .nav__item > .nav__link {
    line-height: 80px;
}
.header-nav .nav__item .nav__link:hover {
    color: var(--hover); 
}
/* subnav */
.header-nav .nav__item .subnav{
    display: flex;
    padding: 60px;
    justify-content: space-between;
    width: 100%;
    transition: .2s linear;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.3) 100%);
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 100%;
    left: 0;
    z-index: 999;
}
.header-nav .nav__item:hover nav > .subnav{
    opacity: 1;
    visibility: visible;
}
.header-nav .subnav > .nav__item > ul {
    margin-top: 20px;
}
.header-nav .subnav > .nav__item > .nav__link::before {
    content: '';
    position: absolute;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background-color: var(--hover);
    transition: .2s linear;
    border-radius: 10px;
    transform: scale(0);
}
.header-nav .subnav > .nav__item > .nav__link:hover::before{
    transform: scale(1);
}
.header-nav .subnav .nav__item > .nav__link {
    font-size: 14;
    font-weight: 700;
    position: relative;
}
.header-nav .subnav ul .nav__link {
    font-size: 12px;
    font-weight: 700;
    transition: .2s ease;
    line-height: 20px;
}
.header-nav .subnav ul .nav__link:hover {
    color: var(--hover);
}
/* expand search-bar */
.header-nav .nav__item .magni-icon {
    position: relative;
    z-index: 99;
    color: white;
    transition: .2s linear;
}
.header-nav .nav__item .magni-icon:hover {
    color: var(--hover);
}   
.header-nav .nav__item .search-bar {
    position: relative;
}
.header-nav .search-bar > .bar {
    background: white;
    padding: 8px 20px;
    border-radius: 50px;
    border: none;
    outline: none;
    color: black;
    width: 0px;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease;
}
.header-nav .search-bar.active > .bar{
    left: -120px;
    width: 300px;
    opacity: 1;
    visibility: visible;
}
.header-nav .search-bar.active > .magni-icon {
    color: black;
}
.respon-bar-icon {
    display: none;
    color: white;
    font-size: 20px;
    gap: 20px;
}
.respon-bar-icon i {
    padding-left: 12px;
}
.respon-bar-icon .search-bar.active>.bar {
    left: -100px;
}
/* slider */
.slider-container {
    min-width: 100%;
    height: 700px;
    position: relative;
    overflow: hidden;
}
.slider-main{
    height: 100%;
    display: flex;
    position: relative;
    transition: .25s ease-in-out;
}
.slider__item{
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
    position: relative;
    transition: .2s linear;
}
.slider__img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
}
.prev-btn {
    left: 60px;
    transform: rotate(180deg);
}
.next-btn {
    right: 60px;
}
.scroll-down-btn {
    display: block;
    width: 50px;
    height: 50px;
    z-index: 99;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    background: orangered;
    color: white;
    text-decoration: none;
}
/* product section */
.section{
    width: 100%;
    padding: 60px 75px; 
}
.section .section-title {
    color: white;
    font-size: 28px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.02em;
    text-align: center;
    /* margin-top: 30px; */
}
.tabs {
    margin-top: 20px;
    justify-content: center;
    position: relative;
}
.tabs > .tab__item {
    font-size: 24px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--maincolor);
    cursor: pointer;
}       
.tabs > .tab__line {
    background-color: var(--hover);
    position: absolute;
    height: 4px;
    border-radius: 5px;
    transition: .25s linear; 
}
.panels > .panel__item {
    width: 100%;
    display: none;
    text-align: center;
}
.panels > .panel__item.active {
    display: block;
}
.product-wrapper{
    margin-top: 30px;
    justify-content: center;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}
.product{
    flex-basis: 300px;
    width: 300px;
    height: 350px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.12) 100%);
    border-radius: 5px;
    cursor: pointer;
    transition: .2s linear;
    position: relative;
}
.product:hover {
    transform: scale(1)
}
.product:hover > .overlay {
    opacity: 1;
    visibility: visible;
}   
.product .product__banner {
    width: 100%;
    height: 65%;
    overflow: hidden;
    position: absolute;
    display: block;
}
.overlay{
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 65%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.3) 100%);
    transition: .25s linear;
    border-radius: 5px 5px 0px 0px;
}
.label{
    border-radius: 2px;
    padding: 6px 12px;
    background-color: white;
    border: 2px solid black;
    color: black;
    position: absolute;
    top: 20px;
    left: 20px;
}
.btn{
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
}
.buy__btn{
    border: 1px solid white;
    padding: 8px 24px;
    border-radius: 5px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    transition: .2s linear;
    font-size: 12px;
    font-weight: 700;
    color: white;
}
.buy__btn:hover {
    background: white;
    color: black;
}
.product .product__banner img {
    width: 100%;
    height: 100%;
    transition: 2s ease;
    border-radius: 5px 5px 0 0;
}
.product:hover img{
    transform: scale(1.5);
}
.product__detail{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    margin-top: calc(65% + 40px);
    gap: 10px;
    text-decoration: none;
}   
.product__name{
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--maincolor);
}
.product__price{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: white;   
}
.stars{
    color: var(--hover);
}
.more-btn {
    display: inline-block;
    max-width: 300px;
    outline: none;
    color: white;
    border: 2px solid white;
    padding: 16px 60px;
    text-transform: uppercase;
    border-radius: 5px; 
    margin-top: 60px;
    transition: .2s linear;
}
.more-btn:hover {
    background: white;
    color: black;
}
.more-products{
    display: none;
}
.more-products.active {
    display: block;
}
.respon-nav{
    position: fixed;
    bottom: 0;
    top: 0;
    left: 40%;
    right: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.08) 0%, rgba(255, 255, 255, 0.12) 100%);
    backdrop-filter: blur(4px);
    z-index: 99999;
    padding: 30px 70px;
    transform: translateX(100%);
    opacity: 0;
    transition: .5s cubic-bezier(0.19, 1, 0.22, 1);
}
.respon-nav__icons {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}
.respon-nav__icons .respon-left-nav {
    gap: 20px
}
.respon-nav__icons i {
    display: block;
}
.respon-nav .respon-nav__content {
    margin-top: 30px;
}
.respon-nav .respon-nav__content .nav__item{
    margin-block: 25px;
}
.respon-nav .nav__item .nav__link {
    font-weight: 600;
}
.respon-nav .nav__link:hover {
    color: var(--hover);
}
.respon-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.3) 100%);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
}
/* pre-built keyboard */
.prebuilt-keyboard-section{

}
.section-slogan{
    color: var(--maincolor);
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0.02em;
    text-align: center;
    margin-block: 45px;
}
.section-product{
    /* flex-wrap: wrap; */
    align-items: start;
}
.pre-built-product .product__banner{
    width: 40%;
    aspect-ratio: 1;
    position: relative;
}
.pre-built-product .product__banner img {
    width: 100%;
    height: 100%;
}
.pre-built-product .product__banner .product__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
}
.pre-built-product .product__banner:hover > .product__overlay {
    opacity: 1;
    visibility: visible;
}
.pre-built-product .product__banner .product__overlay .overlay-btn {
    color: white;
    font-size: 18px;
    border: 1px solid white;
    padding: 16px 48px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: .2s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.pre-built-product .overlay-btn:hover {
    background: white;
    color: black !important;
}
.pre-built-product .product__detail{
    align-items: flex-start;
    gap: 12px;
    flex-grow: 1;
    margin: 0;
    color: white;
}
.product__detail--name{
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0.02em;
}
.product__detail--price{
    color: var(--hover);
    font-weight: 700;
    font-size: 28px;
    letter-spacing: 0.02em;
}
.product__detail--title{
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0.02em;
}
.product__detail--specs{
    padding-left: 40px;
}
.spec__item{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 28px;
}
.spec__item__link {
    color: var(--hover);
    text-transform: uppercase;
}
.explore-btn{
    color: white;
    border: 2px solid white;
    padding: 12px 60px;
    transition: .2s cubic-bezier(0.86, 0, 0.07, 1);
}
.explore-btn:hover{
    background: var(--maincolor);
    border: 2px solid var(--maincolor);
}
.wait-list{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
.wait-list-detail{
    gap: 0;
    margin-top: 45px; 
    align-items: flex-start;
    width: 80%;
}
.wait-list__banner{
    flex-grow: 1;
    aspect-ratio: 1.2/1;
    overflow: hidden;
}
.wait-list__banner:hover img {
    transform: scale(1.5)
}
.wait-list__banner img {
    width: 100%;
    height: 100%;
    transition: 2s cubic-bezier(0.23, 1, 0.320, 1)
}
.wait-list__content{
    padding: 0 20px;
    display:flex;
    flex-direction:column;
    justify-content: start;
    gap: 20px;
    width: 60%;
}
.content__title{
    margin-block: 10px;
    color: var(--maincolor);
    letter-spacing: 0.02em;
    font-weight: 700;   
    font-size: 22px;
    line-height: 33px;
}
.content-detail{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: white;
}
.form-group{
    margin-bottom: 20px;
}   
.form-group > input {
    width: 100%;
    height: 60px;
    outline: none;
    background: rgba(66, 130, 255, 0.4);
    color: black;
    padding: 0 20px;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: .2s linear;
}
.form-group > input:hover {
    background: white;
}
.form-group > input:focus {
    background: white;
    border-color: var(--maincolor);
}
.form-btn{
    display: block;
    color: white;
    border: 2px solid var(--maincolor);
    padding: 12px 48px;
    width: fit-content;
    margin-top: 20px;
    transition: .2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.form-btn:hover {
    background: var(--maincolor);
}
.product-selection__wrapper{
    margin-top: 45px;
    flex-wrap: wrap;
    justify-content: center;
}
.selection__item{
    width: 435px;
    aspect-ratio: 1;
}
.selection__item__banner{
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.selection__item__banner:hover img{
    transform: scale(1.05)
}
.selection__item__banner img {
    width: 100%;
    height: 100%;
    transition: 2s cubic-bezier(0.19, 1, 0.22, 1);
}
.selection__overlay{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 60px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.2) 100%);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.selection__overlay .overlay__content {
    width: 100%;
    display:flex;
    justify-content:center;
    flex-direction:column;
    gap: 20px;
}
.selection__overlay .overlay__content h5 {
    font-weight: 700;
    font-size: 8px;
    line-height: 12px;
    letter-spacing: 0.02em;
    font-weight: 700;
    color: white;
}
.selection__name{
    font-weight: 900;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: var(--hover);
}
.overlay__btn{
    align-self: center;
    color: white;
    padding: 12px 48px;
    border: 2px solid white;
    transition: .2s cubic-bezier(0.215, 0.610, 0.355, 1)
}
.overlay__btn:hover {
    background: white;
    color: black;
}
.feedbacks-wrapper{
    margin-top: 45px;
    justify-content: center;
    flex-wrap: wrap;
}
.feedback__item{
    width: 435px;
    display: flex;
    padding: 32px 20px;
    background: rgba(217, 217, 217, 0.3);
    border-radius: 10px;    
}
.feedback__item__avt{
    width: 80px;
    height: 80px;
    border-radius: 100rem;
    flex-basis: 80px;
    flex-shrink: 0;
    background-position: center;
}
.feedback__item__content{
    padding-inline: 20px;
    color: white;
}
.content__name{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.content__product__name{
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #C7C7C7;
    letter-spacing: 0.02em;
}
.content__feedback__detail{
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.02em;
}
footer {
    padding: 60px 80px;
    flex-direction: column;
    background: linear-gradient(90deg, rgba(46, 63, 147, 0.4) 0%, rgba(57, 73, 155, 0.4) 100%);
}
.footer .logo {
    align-self: flex-start;
}
.footer__top{
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}
.follow-us{
    width: 330px;
    display:flex;
    flex-direction:column;
    gap: 20px;
}
.logo a{
    text-decoration: none !important;
    color: white;
}
.follow-us-content{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: white;
}
.form__btn{
    display: block;
    width: fit-content;
    padding: 12px 48px;
    border: 1px solid var(--maincolor);
    color: var(--maincolor);
    margin-top: 10px;
    transition: .2s cubic-bezier(0.19, 1, 0.22, 1)
}
.form__btn:hover {
    background: var(--maincolor);
    color: white;
}
.nav__title,
.footer__nav .nav__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.02em;
    color: white;
}
.nav__title {
    margin-bottom: 20px;
    color: var(--maincolor);
}
.footer__nav .nav__link:hover {
    color: var(--hover);
}
.footer__nav .social__icons {
    gap: 20px;
}
.right-reserved {
    padding: 20px;
    color: white;
    text-align: center;
    font-weight: 400;
    font-size: 8px;
    line-height: 24px;
    letter-spacing: 0.02em;
}